In [1]:
import pandas as pd
dataset = pd.read_csv('insurance_pre.csv')

In [2]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset = pd.get_dummies(dataset,drop_first=True)

In [4]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [5]:
independent_variable=dataset[['age','bmi','children','sex_male','smoker_yes']]

In [6]:
dependent_variable=dataset[['charges']]

In [7]:
independent_variable

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [8]:
dependent_variable

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [21]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid={'criterion':['absolute_error','squared_error','friedman_mse','poisson'],
           'splitter':['best','random'],
           'max_features':['sqrt','log2']}
grid = GridSearchCV(DecisionTreeRegressor(),param_grid,n_jobs=-1,verbose=3,refit=True)
grid.fit(independent_variable,dependent_variable)
re=grid.cv_results_

Fitting 5 folds for each of 16 candidates, totalling 80 fits

In [16]:
#import pickle
#filename='LinearRegression.sav'
#output = pickle.dump(regressor,open(filename,'wb'))
#loaded_model = pickle.load(open(filename,'rb'))
#result =loaded_model.predict([[19,27.900,0,0,1]])
#result

In [10]:
re=grid.cv_results_
table = pd.DataFrame.from_dict(re)

In [14]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.048451,0.005973,0.004947,0.000680,absolute_error,sqrt,best,"{'criterion': 'absolute_error', 'max_features'...",0.749020,0.592314,0.640927,0.705477,0.787450,0.695038,0.070772,3
1,0.027163,0.001154,0.004490,0.001775,absolute_error,sqrt,random,"{'criterion': 'absolute_error', 'max_features'...",0.729373,0.610226,0.639976,0.598740,0.701698,0.656003,0.051191,7
2,0.041167,0.005973,0.005186,0.001747,absolute_error,log2,best,"{'criterion': 'absolute_error', 'max_features'...",0.716843,0.388412,0.740477,0.692075,0.707851,0.649131,0.131298,8
3,0.034954,0.008227,0.006981,0.004761,absolute_error,log2,random,"{'criterion': 'absolute_error', 'max_features'...",0.647693,0.551301,0.760712,0.527576,0.594862,0.616429,0.082942,13
4,0.009734,0.002937,0.005067,0.000652,squared_error,sqrt,best,"{'criterion': 'squared_error', 'max_features':...",0.775286,0.537298,0.718635,0.744431,0.749305,0.704991,0.085753,2
5,0.007576,0.003191,0.004247,0.000385,squared_error,sqrt,random,"{'criterion': 'squared_error', 'max_features':...",0.614541,0.616777,0.672992,0.631121,0.643547,0.635795,0.021349,10
6,0.008385,0.001118,0.005476,0.001672,squared_error,log2,best,"{'criterion': 'squared_error', 'max_features':...",0.776275,0.675145,0.670405,0.716553,0.695433,0.706762,0.038413,1
7,0.007079,0.001366,0.005491,0.001771,squared_error,log2,random,"{'criterion': 'squared_error', 'max_features':...",0.689214,0.632652,0.700930,0.732651,0.602510,0.671591,0.047304,4
8,0.007542,0.000560,0.004186,0.000399,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.656963,0.600307,0.632644,0.727744,0.544010,0.632334,0.060888,11
9,0.007712,0.001288,0.004896,0.000639,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.682542,0.559580,0.647503,0.644851,0.588312,0.624558,0.044354,12
10,0.008993,0.001482,0.004736,0.001158,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.653940,0.637372,0.627615,0.707991,0.680415,0.661467,0.029349,6
11,0.008137,0.001520,0.005966,0.002835,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.689233,0.561466,0.705604,0.721319,0.672499,0.670024,0.056669,5
12,0.013363,0.005563,0.004267,0.000623,poisson,sqrt,best,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.627338,0.502294,0.652624,0.660042,0.548852,0.598230,0.062078,15
13,0.008268,0.000873,0.005076,0.001442,poisson,sqrt,random,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.682570,0.525374,0.551545,0.644031,0.601144,0.600933,0.057742,14
14,0.010698,0.001299,0.004608,0.000646,poisson,log2,best,"{'criterion': 'poisson', 'max_features': 'log2...",0.622098,0.513533,0.594072,0.607481,0.616493,0.590735,0.039746,16
15,0.006857,0.000674,0.003469,0.000869,poisson,log2,random,"{'criterion': 'poisson', 'max_features': 'log2...",0.662119,0.558269,0.671043,0.657317,0.663584,0.642466,0.042329,9

In [15]:
print('Best R_Score value',format(grid.best_params_))

Best R_Score value {'criterion': 'squared_error', 'max_features': 'log2', 'splitter': 'best'}

In [16]:
grid_pred = grid.predict(independent_variable)

In [18]:
from sklearn.metrics import r2_score
r_score = r2_score(dependent_variable,grid_pred)

In [19]:
r_score

0.998667156135576

In [20]:
import pickle 
output = pickle.dump(grid,open('savedmodel.sav','wb'))