In [18]:
import  pandas as pd

In [19]:
dataset = pd.read_csv('CKD.csv')

In [20]:
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [21]:
dataset = pd.get_dummies(dataset,drop_first = True)

In [22]:
print(dataset)

           age         bp   al   su         bgr          bu        sc  \
0     2.000000  76.459948  3.0  0.0  148.112676   57.482105  3.077356
1     3.000000  76.459948  2.0  0.0  148.112676   22.000000  0.700000
2     4.000000  76.459948  1.0  0.0   99.000000   23.000000  0.600000
3     5.000000  76.459948  1.0  0.0  148.112676   16.000000  0.700000
4     5.000000  50.000000  0.0  0.0  148.112676   25.000000  0.600000
..         ...        ...  ...  ...         ...         ...       ...
394  51.492308  70.000000  0.0  0.0  219.000000   36.000000  1.300000
395  51.492308  70.000000  0.0  2.0  220.000000   68.000000  2.800000
396  51.492308  70.000000  3.0  0.0  110.000000  115.000000  6.000000
397  51.492308  90.000000  0.0  0.0  207.000000   80.000000  6.800000
398  51.492308  80.000000  0.0  0.0  100.000000   49.000000  1.000000

            sod       pot       hrmo  ...  pc_normal  pcc_present  ba_present  \
0    137.528754  4.627244  12.518156  ...          0            0           0
1    137.528754  4.627244  10.700000  ...          1            0           0
2    138.000000  4.400000  12.000000  ...          1            0           0
3    138.000000  3.200000   8.100000  ...          1            0           0
4    137.528754  4.627244  11.800000  ...          1            0           0
..          ...       ...        ...  ...        ...          ...         ...
394  139.000000  3.700000  12.500000  ...          1            0           0
395  137.528754  4.627244   8.700000  ...          1            0           0
396  134.000000  2.700000   9.100000  ...          1            0           0
397  142.000000  5.500000   8.500000  ...          1            0           0
398  140.000000  5.000000  16.300000  ...          1            0           0

     htn_yes  dm_yes  cad_yes  appet_yes  pe_yes  ane_yes  classification_yes
0          0       0        0          1       1        0                   1
1          0       0        0          1       0        0                   1
2          0       0        0          1       0        0                   1
3          0       0        0          1       0        1                   1
4          0       0        0          1       0        0                   1
..       ...     ...      ...        ...     ...      ...                 ...
394        0       0        0          1       0        0                   1
395        1       1        0          1       0        1                   1
396        1       1        0          0       0        0                   1
397        1       1        0          1       0        1                   1
398        0       0        0          1       0        0                   0

[399 rows x 28 columns]

In [23]:
dataset.shape[0]

399

In [24]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399 entries, 0 to 398
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   age                 399 non-null    float64
 1   bp                  399 non-null    float64
 2   al                  399 non-null    float64
 3   su                  399 non-null    float64
 4   bgr                 399 non-null    float64
 5   bu                  399 non-null    float64
 6   sc                  399 non-null    float64
 7   sod                 399 non-null    float64
 8   pot                 399 non-null    float64
 9   hrmo                399 non-null    float64
 10  pcv                 399 non-null    float64
 11  wc                  399 non-null    float64
 12  rc                  399 non-null    float64
 13  sg_b                399 non-null    uint8
 14  sg_c                399 non-null    uint8
 15  sg_d                399 non-null    uint8
 16  sg_e                399 non-null    uint8
 17  rbc_normal          399 non-null    uint8
 18  pc_normal           399 non-null    uint8
 19  pcc_present         399 non-null    uint8
 20  ba_present          399 non-null    uint8
 21  htn_yes             399 non-null    uint8
 22  dm_yes              399 non-null    uint8
 23  cad_yes             399 non-null    uint8
 24  appet_yes           399 non-null    uint8
 25  pe_yes              399 non-null    uint8
 26  ane_yes             399 non-null    uint8
 27  classification_yes  399 non-null    uint8
dtypes: float64(13), uint8(15)
memory usage: 46.5 KB

In [25]:
indep = dataset[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes']]
dep= dataset[['classification_yes']]

In [26]:
from sklearn.model_selection import train_test_split
X_train,x_test,y_train,y_test = train_test_split(indep,dep,random_state=0,test_size=1/3)

In [27]:
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import GridSearchCV
# param_grid = {'criterion':['gini','entropy','log_loss'],
#               'splitter':['best','random'],
#               'max_features':['sqrt','log2'],
#              'class_weight':['balanced','dict']}
grid=GaussianNB()
# grid = GridSearchCV(gnb,param_grid,verbose=3,cv=5,n_jobs=-1,refit=True,scoring='f1_weighted')
grid.fit(X_train,y_train)

C:\Users\rajes\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [28]:
y_pred = grid.predict(x_test)

In [35]:
x_test

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
132,46.000000,70.0,0.0,0.0,100.000000,47.0,0.5,142.000000,3.500000,16.400000,...,1,1,0,0,0,0,0,1,0,0
309,66.000000,90.0,2.0,0.0,153.000000,76.0,3.3,137.528754,4.627244,12.518156,...,1,1,0,1,0,0,0,0,0,0
334,69.000000,70.0,0.0,0.0,83.000000,42.0,1.2,139.000000,3.700000,16.200000,...,1,1,0,0,0,0,0,1,0,0
196,55.000000,100.0,1.0,4.0,297.000000,53.0,2.8,139.000000,4.500000,11.200000,...,1,1,0,0,1,1,0,1,0,0
246,60.000000,90.0,2.0,0.0,105.000000,53.0,2.3,136.000000,5.200000,11.100000,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,71.000000,70.0,0.0,0.0,81.000000,18.0,0.8,145.000000,5.000000,14.700000,...,1,1,0,0,0,0,0,1,0,0
168,50.000000,80.0,0.0,0.0,137.000000,46.0,0.8,139.000000,5.000000,14.100000,...,1,1,0,0,0,0,0,1,0,0
150,48.000000,100.0,0.0,0.0,103.000000,79.0,5.3,135.000000,6.300000,6.300000,...,1,1,0,0,1,0,1,0,0,0
392,51.492308,60.0,3.0,0.0,148.112676,34.0,1.2,137.528754,4.627244,10.800000,...,0,0,0,0,0,0,0,1,0,0
66,34.000000,60.0,0.0,0.0,91.000000,49.0,1.2,135.000000,4.500000,13.500000,...,1,1,0,0,0,0,0,1,0,0

In [29]:
from sklearn.metrics import confusion_matrix
cm= confusion_matrix(y_test,y_pred)

In [30]:
from sklearn.metrics import classification_report
clf_report = classification_report(y_test,y_pred)

In [31]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.94      1.00      0.97        51
           1       1.00      0.96      0.98        82

    accuracy                           0.98       133
   macro avg       0.97      0.98      0.98       133
weighted avg       0.98      0.98      0.98       133

In [32]:
from sklearn.metrics import f1_score
score = f1_score(y_test,y_pred,average='weighted')
print('best params and f1 score',score)

best params and f1 score 0.9775556904684072

In [33]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,grid.predict_proba(x_test)[:,1])

1.0